BasedOnStyle: Microsoft

SortIncludes: false
IncludeBlocks: Preserve

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true

AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All

AlwaysBreakTemplateDeclarations: Yes

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman

ColumnLimit: 120

DeriveLineEnding: true
DerivePointerAlignment: false

IndentPPDirectives: BeforeHash
IndentWidth: 4

KeepEmptyLinesAtTheStartOfBlocks: false

PointerAlignment: Left

ReflowComments: true

SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements

TabWidth: 4
UseTab: Never
